<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>jums.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyComplete</servlet-name>
        <servlet-class>jums.BuyComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyConfirm</servlet-name>
        <servlet-class>jums.BuyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>jums.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Item</servlet-name>
        <servlet-class>jums.Item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>jums.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyData</servlet-name>
        <servlet-class>jums.MyData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyUpdate</servlet-name>
        <servlet-class>jums.MyUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDelete</servlet-name>
        <servlet-class>jums.MyDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyDeleteResult</servlet-name>
        <servlet-class>jums.MyDeleteResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myhistory</servlet-name>
        <servlet-class>jums.Myhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyupdateResult</servlet-name>
        <servlet-class>jums.MyupdateResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>jums.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationComplete</servlet-name>
        <servlet-class>jums.RegistrationComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationConfirm</servlet-name>
        <servlet-class>jums.RegistrationConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>jums.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyComplete</servlet-name>
        <url-pattern>/BuyComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyConfirm</servlet-name>
        <url-pattern>/BuyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Item</servlet-name>
        <url-pattern>/Item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyData</servlet-name>
        <url-pattern>/MyData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyUpdate</servlet-name>
        <url-pattern>/MyUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDelete</servlet-name>
        <url-pattern>/MyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyDeleteResult</servlet-name>
        <url-pattern>/MyDeleteResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myhistory</servlet-name>
        <url-pattern>/Myhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyupdateResult</servlet-name>
        <url-pattern>/MyupdateResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationComplete</servlet-name>
        <url-pattern>/RegistrationComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationConfirm</servlet-name>
        <url-pattern>/RegistrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
